<h1 class="display-4">Welcome to TechLinks</h1>
<p class="mb-4">This is a sails js app for links</p>
<a href="/links/list" class="btn btn-light">View Links</a>
<a href="/links/add" class="btn btn-light">Add Link</a>